*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

a{
    text-decoration: none;
}

html,body{
    overflow-x: hidden;
}

#nav{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 70px;
}

.navlinks{
    display: flex;
    gap: 40px;
 
}

.navlinks a{
    color: rgb(156, 156, 156);
}

.request-btn{
    background-color: rgb(43, 199, 147);
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
}

#hero img{
    width: 40%;
}
#hero div{
    width: 40%;
}
#hero div h1{
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
}
#hero div p {
    margin-bottom: 20px;
    line-height: 30px;
}
#main-section {
    padding: 100px 100px;
    background-color: hsl(220, 16%, 96%);
    margin-top: 20px auto 20px;
}

.easybank{
    width: 50%;
}


.easybank h1 {
    font-size: 50px;
    font-weight: 100;
    padding-bottom: 20px;
    font-size: 40px;
}

.easybank p {
    padding-bottom: 20px;
    line-height: 24px;
}

.icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 30px;
}

.icon h3 {
font-size: 16px;
margin: 10px auto 20px;
} 

.icon p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 100;
}
.img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
#article {
    margin-top: 30px;
    padding: 30px 100px;
}
#article p { 
    font-size: 24px;
    padding-bottom: 30px;
    color: hsl(233, 8%, 62%);
}

.blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.blogs div{
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
    padding-bottom: 20px;
}

.blogs h6 {
    font-size: 12px;
    font-weight: 100;
    margin: 10px;
}

.blogs h3{
    font-size: 16px;
    font-weight: 100;
    margin: 10px 10px 0;
}

.blogs h3:hover{
    color: green;
}

.last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: hsl(233, 26%, 24%);
    color: #fff;
    padding: 30px 50px;
    margin-top: 50px;

}
.about-us {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.about-us a{
    color: #fff;
}
.about-us a:hover{
    color: aqua;
}
.about1 {
    display: grid;
    gap: 20px;
}
.about2 {
    display: grid;
    gap: 20px;
}
.allright{
    text-align: center;
}
.allright p {
  padding-top:  30px;
  font-size: 12px;
}
.logo {
   display: flex;
   gap: 10px;
   padding-top: 20px;
}
.logo i{
    font-size: 20px;
}





@media only screen and (max-width: 992px)  {
    #hero{
        padding: 30px;
    }

    #hero div{
        width: 50%;
    }

    #hero div h1{
       font-size: 40px;
    }

    #main-section{
        padding: 100px 30px;
    }
    #article {
        padding: 30px 50px;
    }

   }

   
   @media only screen and (max-width: 768px)  {
    #hero div h1{
        font-size: 32px;
    }

    .icon, .blogs{
        grid-template-columns: repeat(2, 1fr);
    }

    .last-section{
        padding: 30px 20px;
    }

    .last-section .request-btn{
        padding: 10px;
        font-size: 14px;
    }

    .about-us{
        gap: 65px;
    }

    .easybank{
        width: 80%;
    }

}

   @media only screen and (max-width: 576px)  {

    .last-section{
        flex-direction: column;
    }
    #article {
        padding: 30px 30px;
        
    }
    #hero {
        flex-direction: column-reverse;
        justify-content: center;

    }

    #hero img{
        width: 70%;
    }
    #hero div h1{
        font-size: 30px;
    }
    #hero div{
        width: 80%;
        text-align: center;
        padding-bottom: 30px;
    }
   
    .easybank h1{
        padding: 20px;
        font-size: 22px;
    }

    .easybank p {
        font-size: 12px;
        width: 100%;
    }
   
}





@media only screen and (max-width: 480px)  {
    #hero div h1 {
        font-size: 20px;
    }

    #hero div p {
        line-height: 22px;
        font-size: 12px;
    }

    .easybank{
        width: 90%;
        text-align: center;
        margin: auto;
    }

    #main-section {
        padding: 20px 30px;
    }

    .icon, .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .icon{
        text-align: center;
    }

    .blogs div{
        width: 70%;
        margin: auto;
    }

}

@media only screen and (max-width: 375px)  {
    .blogs div{
        width: 80%;
    }
    
    .about-us{
        flex-direction: column;
        text-align: center;
    }
}